:root {
    --primary: #0ed3cf;
    --secondary: #e5e7eb;
    --background: #111827;
    --transition: cubic-bezier(.25,.75,.5,1.25) .2s;
}

::selection {
    background: black;
    color: var(--primary);
}

::-moz-selection {
    background: black;
    color: var(--primary);
}

::-webkit-selection {
    background: black;
    color: var(--primary);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border: 6px solid var(--background);
    border-radius: 10px;
    cursor: grab;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    color: var(--primary);
}

img {
    width: 100%;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    transform: scale(1.05);
}

img:hover {
    transform: scale(1.07);
}

div {
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 15px 30px;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background: var(--primary);
    color: var(--background);
    font-size: 18px;
    border: 2px solid var(--primary);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    opacity: 1;
    margin: 4px 0;
}

button:hover {
    opacity: .8;
}

button:active {
    background: var(--background);
    border: 2px solid var(--primary);
    color: var(--primary);
}

code {
    font-family: monospace;
    padding: 20px 30px !important;
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.no-copy, br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.force-copy {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.auto-width {
    width: 1080px;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section {
    width: 100%;
    padding-top: 120px;
    float: left;
}

.section > div {
    padding: .8rem 0;
}

.img-section {
    position: relative;
    cursor: pointer;
}

.img-section:hover > a > .img-subtext {
    opacity: .8;
}

.img-subtext {
    font-weight: 600;
    opacity: .6;
    font-size: 12px;
    padding: 10px 0 5px 0;
    text-align: right;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    color: var(--secondary);
}

.img-zoom {
    overflow: hidden;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.img-zoom:hover {
    border-radius: 10px;
}

.blur-on-hover {
    filter: blur(1px);
    opacity: .95;
}

.blur-on-hover:hover {
    filter: blur(0);
    opacity: 1;
}

.quotes {
    position: relative;
    width: Calc(100% - 60px);
    margin: 20px auto;
    text-align: center;
}

.quotes:before, .quotes:after {
    content: '"';
    position: absolute;
    font-size: 60px;
}

.quotes:before {
    left: -20px;
    top: -20px;
}

.quotes:after {
    right: -20px;
}

.f-42 {
    font-size: 42px;
    font-weight: bold;
}

.f-32 {
    font-size: 32px;
    font-weight: bold;
}

.f-28 {
    font-size: 28px;
}

.f-24 {
    font-size: 24px;
    font-weight: bold;
}

.f-20 {
    font-size: 20px;
}

.f-18 {
    font-size: 18px;
}

.f-14 {
    font-size: 14px;
}

.c-p {
    color: var(--primary);
    fill: var(--primary);
}

.c-s {
    color: var(--secondary);
    fill: var(--secondary);
}

.o-7 {
    opacity: .7;
}

.o-5 {
    opacity: .5;
}

.h-24 {
    height: 24px;
}

.h-28 {
    height: 28px;
}

.h-300 {
    height: 300px;
}

.w-half {
    width: 50%;
    float: left;
}

.w-full {
    width: 100%;
    float: left;
}

.m {
    margin: 10px 0;
}

.ml-10 {
    margin-left: 10px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.header {
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    color: var(--secondary);
    display: flex;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(17, 24, 39, .7);
    backdrop-filter: blur(6px);
    z-index: 9;
}

.icon {
    position: relative;
    top: 6px;
}

.small-text {
    position: relative;
    top: -6px;
    margin: 0 10px;
}

.header-left {
    float: left;
    margin-bottom: 5px;
}

.header-left {
    text-align: right;
    float: right;
    margin-top: 10px;
}

.header-left > a {
    color: var(--secondary);
    margin-left: 26px;
    font-weight: 600;
    opacity: .7;
}

.header-left > a:hover {
    opacity: 1;
}

ol > li > a {
    opacity: .7;  -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

ol > li > a:hover {
    opacity: 1;
}

.content {
    color: var(--secondary);
}

.footer {
    margin-top: 20px;
    width: 100%;
    padding: 40px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    float: left;
}

@media only screen and (max-width: 1100px) {

    .section {
        padding-top: 60px;
    }

    .content {
        text-align: center;
    }

    code {
        text-align: left;
    }

    .w-half {
        margin-top: 30px;
        width: 100%;
    }

    .auto-width {
        width: 100%;
        padding: 0 20px;
    }

    .hide-img {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    .section {
        padding-top: 100px;
    }

    .header {
        text-align: center;
    }

    .header-left {
        width: 100%;
        text-align: center;
        float: left;
    }

    .header-left > a {
        margin: 0 6px;
    }
}